<div class="contact-template">
<p>
    You can send me a message using the contact form below.
    I usually respond within a few days. 
    Make sure to include a way for me to get back to you (i.e. email, social media account, phone number, etc.).
    You can also DM me on <a href="https://twitter.com/{{ site.twitter.username }}"><i class="fab fa-twitter"></i> twitter</a>.
</p>

<form class=action="/contact">
    <input class="input-text" type="text" id="form-input-text" name="form-input-text" placeholder="..."></input>
    <input class="input-submit" type="submit" value="Submit">
</form> 
</div>