<p>
    You can send me a message using the contact form below.
    I usually respond within a few days. 
    Make sure to include a way for me to get back to you (i.e. email, social media account, phone number, etc.).
    You can also just DM me on <a href="https://twitch.com/{{ site.twitter.username }}"><i class="fab fa-twitch"></i>twitter</a>.
</p>

<form action="/contact">
    <input type="text" id="form-input-text" name="form-input-text" placeholder="..."></input>
    <input type="submit" value="Submit">
</form> 