<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="rss-subscribe">
            Subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a>
              <i class="fas fa-rss"></i>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <br/>
      </div>
      <div class="footer-col footer-col-3">
        {%- include social.html -%}
      </div>
    </div>
  </div>
</footer>