{%- if site.pages.size > 0 -%}
{% assign _pages = site.pages %}
<ul>
    {%- for _page in _pages -%}
    {%- assign _splitPermalink = _page.permalink | split: page.permalink %}
    {%- if _splitPermalink[0] == '' and _splitPermalink.size == 2 -%}
    <li>
        <a class="post-link" href="{{ _page.url | relative_url }}">{{ _splitPermalink | last | escape }}</a>
        {%- if site.show_excerpts -%}
        <p>
            {{ _page.excerpt }}
        </p>
        {%- endif -%}
    </li>
    {%- endif -%}
{%- endfor -%}
</ul>
{%- endif -%}