{%- if site.posts.size > 0 -%}
<ul class="x-post-list">
    {% for _key_value_pair in include.nested_posts %}
    <li>
        {% capture _key %}{{ _key_value_pair | first }}{% endcapture %}
        <div id="{{ include.id_prefix }}-{{ _key }}" class="x-post-link x-post-meta">
            <span>{{ include.text_prefix }}{{ _key }}</span>
        </div>
        {% assign posts=include.nested_posts[_key] %}
        {% include posts-list.html posts=posts ul_class="list-style-none" size=include.size %}
    </li>
    {% endfor %}
</ul>
{%- endif -%}