<div class="x-post-meta">
{%- if include.date != '' -%}
<span>
<time class="dt-published" datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">
  {{ include.date | date: "%b %-d, %Y" }}
</time>
</span>
{%- endif -%}
<br />
<span class="post-meta">
    {% capture _categories %}{% for category in include.categories %}{{ category }}/{% endfor %}{% endcapture %}
    <a href="{{ _categories }}">/{{ _categories }}</a>
</span>
<br />
<span>
    {% for tag in include.tags %}
    #{{ tag }}
    {% endfor %}
</span>
{%- if include.excerpt != '' -%}
<p>
    {{ include.excerpt }}
</p>
{%- endif -%}
</div>