<ul class="x-social-media-list">
    <li>
      <a href="https://bandcamp.com/{{ site.twitter.username }}">
        <i class="fab fa-bandcamp"></i>

      </a>
    </li>
    <li>
      <a href="https://facebook.com/{{ site.twitter.username }}">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/{{ site.twitter.username }}">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/{{ site.twitter.username }}">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://patreon.com/{{ site.twitter.username }}">
        <i class="fab fa-patreon"></i>
      </a>
    </li>
    <li>
      <a href="https://pinterest.com/{{ site.twitter.username }}">
        <i class="fab fa-pinterest"></i>
      </a>
    </li>
    <li>
      <a href="https://reddit.com/{{ site.twitter.username }}">
        <i class="fab fa-reddit"></i>
      </a>
    </li>
    <li>
      <a href="https://soundcloud.com/{{ site.twitter.username }}">
        <i class="fab fa-soundcloud"></i>
      </a>
    </li>
    <li>
      <a href="https://stack-overflow.com/{{ site.twitter.username }}">
        <i class="fab fa-stack-overflow"></i>
      </a>
    </li>
    <li>
      <a href="https://twitch.com/{{ site.twitter.username }}">
        <i class="fab fa-twitch"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/{{ site.twitter.username }}">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://venmo.com/u/{{ site.twitter.username }}">
        <i class="fab fa-paypal"></i>
      </a>
    </li>
    <li>
      <a href="https://wikipedia.com/{{ site.twitter.username }}">
        <i class="fab fa-wikipedia-w"></i>
      </a>
    </li>
    <li>
      <a href="https://youtube.com/{{ site.twitter.username }}">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
</ul>