@charset "utf-8";

/* General styles */
body {
    font-family: 'Courier New', Courier, monospace;
}

img {
    max-width: 100%;
}

p,
ol,
ul,
li,
a {
    font-size: 10pt;
}

/* Menu styles */
.menu {
    display: flex;
    justify-content: space-between;
}

.menu ul {
    display: inline-block;
}

.menu ul li a {
    color: var(--highlight-color);
    font-size: 15pt;
}

/* Post styles */
.posts .tags::before {
    content: ' ~ ';
}

/* Tags styles */
ul.tags,
ul.tags li {
    display: inline;
}

.tags a {
    color: var(--lowlight-color);
}

ul.tags li::before {
    content: '';
    margin: 0;
}

ul.tags li::after {
    content: ' ';
}

/* Highlighted styles */
.highlighted {
    color: var(--highlight-color);
}

/* Home styles */
.home div:has(> img) {
    height: 250px;
    overflow: hidden;
}

/* Footer styles */
footer a {
    text-decoration: none;
    font-size: 5pt;
}

/* Article styles, used in posts */
article {


h1 {
counter-reset: h2;
}

h2:before {
content: counter(h2)" ";
counter-increment: h2;
}
h2 {
counter-reset: h3;
}

h3:before {
content: counter(h2)"." counter(h3)" ";
counter-increment: h3;
}
h3 {
counter-reset: h4;
}

h4:before {
content: counter(h2)"." counter(h3)"." counter(h4)" ";
counter-increment: h4;
}
h4 {
counter-reset: h5;
}

h5:before {
content: counter(h2)"." counter(h3)"." counter(h4)"." counter(h5)" ";
counter-increment: h5;
}
h5 {
counter-reset: h6;
}

h6:before {
content: counter(h2)"." counter(h3)"." counter(h4)"." counter(h5)"." counter(h6)" ";
counter-increment: h6;
}
h6 {
counter-reset: h7;
}

}

/* Override pre and code background colors */
pre, code {
    background-color: #1f1f1f;
}

pre {
    padding: 5px;
}