//$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-family: monospace;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       rgb(255, 255, 255);
$background-color: #1d1d1d;
$brand-color:      #61a6ff;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$table-text-align: left;

$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$code-background-color: lighten($background-color, 5%); 

@import "minima";

.site-title {
    color:rgb(255, 121, 150);
}

pre,
code {
  border: 0px;
  background-color: $code-background-color;
  // text-shadow: 0 0 15px lighten($code-background-color, 15%);
}

.highlight {
    background: $code-background-color;
    .highlighter-rouge & {
      background: $code-background-color;
    }
  
}

ul.no-bullet {
  list-style-type: none; /* Remove bullets */
}

.site-footer {
  padding: $spacing-unit / 2;
}

.footer-col {
  margin-bottom: - ($spacing-unit / 2);
}

.social-media-list li {
  display: inline;
}

.social-media-list a {
  color: $grey-color !important;
}

.social-media-list a:hover {
  color: $grey-color-light !important;
}

.post-meta a {
  color: $grey-color !important;
}

.post-meta a:hover {
  color: $grey-color-light !important;
}


